nodes/DatasetsServer/src/main/resources/requestsSample/xsd/gpdRequest.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GPDRequest">
    <xs:complexType>
      <xs:all>
        <xs:element name="Country" minOccurs="1">
          <xs:complexType>
            <xs:all>
                <xs:element type="xs:string" name="Name" minOccurs="0"/>
                <xs:element type="xs:string" minOccurs="1" name="Code"/>
            </xs:all>
          </xs:complexType>
        </xs:element>
        <xs:element name="DateRange" minOccurs="0">
          <xs:complexType>
            <xs:all>
              <xs:element type="xs:date" name="DateStart" minOccurs="1"/>
              <xs:element type="xs:date" name="DateEnd" minOccurs="1"/>
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>